/* TABLE */

/* Các thuộc tính Table chung theo STL */

/* Loại bỏ viền của bảng */
table{
    border: unset;
}

th, td{
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
    min-width: 56px;
    min-height: 48px;
    white-space: nowrap;
}

th{
    border-top: unset;
    background-color: #EEEEEE;
}

td{
    color: #212121;
}

tr:hover td{
    background-color: #F8F8F8;
}

.tbody-scroll{
    overflow-y: auto;
}

/* Căn lề hàng tiêu đề và nội dung tiêu đè*/
.title-column{
    padding: 0 16px;
}

.title-column p{
    text-transform: uppercase;
    font-size: 14px;
}

/* Chỉnh căn lề và cỡ chữ cho từng ô trong table */
.table-data{
    padding: 0 16px;
    font-size: 14px;
}

/* -------------------------------------------------------------- */

/* BẢNG NHÂN VIÊN */
/* Tạo thanh cuộn trái phải và đo chiều cao thích hợp cho bảng */
.table-area{
    margin-top: 12px;
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100% - 104px);
}

/* Thay đổi kích cỡ scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.table-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    /* Lùi scrollbar */
    margin-top: 48px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Thiết lập viền các ô tránh viền ngoài */
.table-row th:first-child, .table-row td:first-child{
    border-left: none;
}

.table-row th:last-child, .table-row td:last-child{
    border-right: none;
}

/* Giữ nguyên hàng tiêu đề khi scroll dọc*/
.table-row-titles{
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Căn giữa cho cột dữ liệu ngày tháng */
.title-date p, .table-data-date p{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
}

/* Giữ nguyên cột Chức năng luôn hiện khi scroll ngang */
.th-edit-title{
    position: sticky;
    right: 0;
    z-index: 100;
}

.td-edit-sticky{
    position: sticky;
    right: 0;
    background-color: #fff;
}

/* Căn giữa các phần tử trong ô chức năng */
.cell-edit{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chữ Sửa */
.cell-edit .edit-text{
    color: #5298e7;
    margin-right: 12px;
    font-weight: 700;
}

/* Icon mũi tên gọi các chức năng */
.wrap-btn-edit{
    width: 24px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    position: relative;
}

/* lấy icon mũi tên */
.btn-edit-function{
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -900px -365px;
    width: 8px;
	height: 5px;
}

/* Icon mũi tên gọi các chức năng khi di chuột vào */
.wrap-btn-edit:hover{
    border: 1px solid #1565C0;
    cursor: pointer;
}

/* Danh sách các chức năng */
.edit-list{
    display: block;
    overflow: hidden;
    width: max-content;
    border: 2px solid #EEEEEE;
    top: calc(100% + 3px);
    left: -100px;

    /* Ân bớt ds chức năng */
    /* display: none; */
}

.edit-list .m-option:hover{
    background-color: #E0E0E0;
}

.edit-list .m-option:hover p{
    color: #06da10;
}

/* Xét min-width cho các cột trong bảng */
.col-textbox{
    min-width: 48px;
}
.col-id{
    min-width: 150px;
}
.col-name{
    min-width: 250px;
}
.col-gender{
    min-width: 128px;
}
.col-date-of-birth{
    min-width: 166px;
}
.col-cmnd{
    min-width: 156px;
}
.col-duty{
    min-width: 300px;
}
.col-unit{
    min-width: 250px;
}
.col-num-account{
    min-width: 182px;
}
.col-bank{
    min-width: 250px;
}
.col-bank-branch{
    min-width: 250px;
}
.col-edit{
    min-width: 128px;
}