/* Thuộc tính Input chung theo STL */
.m-input{
    height: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 0px 12px;
    line-height: 18px;
    outline: none;
}
.m-input::placeholder{
    font-size: 14px;
    color: #9E9E9E;
    font-style: italic;
}

.m-input:hover{
	background-color: #F6F6F6;
  	cursor: pointer;
}
.m-input:focus{
	border: 1px solid #306F24;
  	outline: none;
}

/* input search trên MAIN */
/* .m-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-right: 12px;
}

.m-input-searchbar{
    padding-right: 36px;
    width: 260px;
} */

/* Thông tin nhân viên */
.m-information{
    flex-direction: column;
}

.m-information span{
    color: red;
}
label{
    color:#1F1F1F;
    font-size: 14px;
    font-weight: 500;
}
.m-input-information, .select-department{
    margin: 8px 0 24px 0;
}
.m-input-date .m-input-information::placeholder{
    font-style: normal;
}
input[type="radio"] {
    width: 18px;
    height: 18px;
}

/* Checkbox trong bảng TABLE */
input[type="checkbox"] {
    width: 24px;
    height: 24px;
}
.text-box-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
}

/*---------------------------------

/* ERROR INPUT */

.err-input input{
    border-color: #E60000;
}