#comboboxUnitItems{
    width: 100%;
    display: none;
    position: absolute;
    top: 44px;
}
.combobox-unit{
    position: relative;
}

.combobox-unit__btn{
    position: absolute;
    top: 9px;
    right: 1px;
    background-color: #fff;
}

.m-input-unit{
    flex: 1;
}