@import url(../css/components/button.css);
@import url(../css/components/textfield.css);
@import url(../css/components/dropdown.css);
@import url(../css/components/dialog.css);
@import url(../css/components/table.css);
@import url(../css/components/combobox.css);
@import url(../lib/icofont/icofont/icofont.min.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}
body{
    font-family: NotosansRegular;
    font-size: 14px;
}

@font-face {
    font-family: NotosansRegular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

/* Custom thẻ chung */
p{
    margin: 0;
}

/* Các class thường dùng */
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.primary-text{
    color: #212121;
}
.w-40{
    width: 40%;
}
.w-100{
    width: 100%;
}
.margin-left-8{
    margin-left: 8px;
}
.margin-left-24{
    margin-left: 24px;
}
.margin-left-32{
    margin-left: 32px;
}
.margin-bottom-8{
    margin-bottom: 8px;
}

.wh-34{
    width: 34px;
    height: 34px;
}

.row{
    display: flex;
}
/* .m-flex{
    display: flex;
    flex-wrap: wrap;
} */
.row-jus-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-jus-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-jus-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.row-jus-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cs-pointer:hover{
    cursor: pointer;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
}

/* --------------------------------- */
/* CHIA LAYOUT */
.sidebar{
    width: 200px;
    height: 100%;
}
.header-and-main{
    height: 100%;
    width: calc(100% - 200px);
}
.header{
    height: 56px;
    width: 100%;
    background-color: #fff;
}
.main{
    width: 100%;
    height: calc(100% - 56px);
    background-color: #EEEFF1;
}

/* --------------------------------- */
/* SIDEBAR */

/* Set chiều cao và nền cho vùng logo */
.icon-grid-and-logo{
    height: 56px;
    background-color: #38393d;
}

.icon-grid-and-logo > a{
    margin: 16px;
}

/* icon lưới dẫn về menu */
.m-icon-grid{
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
    background-position:  -425px -88px;
}

/* CHiều cao chuẩn cho logo theo STL */

.m-logo img{
    height: 32px;
}

/* Tính chiều cao thích hợp cho sidebar */
.m-sidebar-list{
    background-color: #38393d;
    height: calc(100vh - 56px);
    overflow: auto;
}

/* căn lề sidebar */
.list-function-sidebar{
    padding: 24px 0px;
}

/* ĐỔi màu từng phần tử trong list */
.function-wrap:hover{
    background-color: #757575;
    border-radius: 4px;
}

/* Căn từng phần tử trong danh sách sidebar theo STL */
.function-wrap a{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    height: 44px;
    margin-bottom: 4px;
}

/* Căn ngang icon và text trong từng phần tử trong ds */
.function-wrap a li{
    display: flex;
    align-items: center;
    list-style: none;
    
}

/* Chỉnh chữ trong danh sách sidebar theo STL */
.function-wrap a li p{
    color: #fff;
    font-size: 14px;
    line-height: 0px;
    vertical-align: center;
}

/* Set background icon từng function trong list */

.function-icon-overview{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -30px -1628px;
    margin-right: 12px;
}
.function-icon-cash{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -73px -1628px;
    margin-right: 12px;
}
.function-icon-deposit{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -117px -1628px;
    margin-right: 12px;
}
.function-icon-shopping{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -161px -1628px;
    margin-right: 12px;
}
.function-icon-sell{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -206px -1631px;
    margin-right: 12px;
}
.function-icon-invoice-management{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -204px -1628px;
    margin-right: 12px;
}
.function-icon-warehouse{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -291px -1628px;
    margin-right: 12px;
}
.function-icon-tool{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -336px -1628px;
    margin-right: 12px;
}
.function-icon-fixed-assets{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -378px -1630px;
    margin-right: 12px;
}
.function-icon-tax{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -423px -1630px;
    margin-right: 12px;
}
.function-icon-cost{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -467px -1628px;
    margin-right: 12px;
}
.function-icon-general{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -510px -1628px;
    margin-right: 12px;
}
.function-icon-budget{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -378px -1659px;
    margin-right: 12px;
}
.function-icon-report{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -547px -1628px;
    margin-right: 12px;
}
.function-icon-financial-analysis{
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -204px -1664px;
    margin-right: 12px;
}

/* ------------------------------------------------------------------- */
/* HEADER */

/* Căn lề và giãn nội dung header */
.m-wrap-header-content{
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
}

/* Căn giữa toàn bộ item trong header */
.m-header-left, .m-header-right, .m-profile{
    align-items: center;
}

/* nút icon menu */
#iconMenu, #iconMenuSidebar{
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -843px -30px;
}

/* nút icon menu ở sidebar*/
#iconMenuSidebarLink{
    display: none;
}

/* Hiển thị tên công ty đang chọn */
#companyName{
    font-weight: 700;
}

/* Cách trái cho dropdown, dropdown chi tiết ở tệp dropdown.css */
.m-company-dropdown{
    margin-left: 16px;
}

/* icon thông báo */
.m-icon-notification{
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -787px -30px;
    margin-right: 24px;
}

/* ảnh đại diện */
.m-profile-ava{
    margin-right: 4px;
}

/* chỉnh cỡ chữ và màu cho icon trên header*/
.m-profile i, .m-profile-ava i{
    font-size: 24px;
    color: #65696E;
}

/* Tên user */
.m-profile-name{
    margin: 0 5px;
    font-size: 14px;
    font-weight: 700;
    color: #212121;
}

/* ------------------------------------------ */
/* MAIN */

/* Tiêu đề */
.title-table-and-add-btn{
    padding: 24px 24px;
}
.title-table h1{
    font-size: 24px;
    font-weight: 700;
}

/* Căn lề và màu nền */
.toolbar-and-table{
    margin: 0 24px;
    background-color: #fff;
    height: calc(100% - 96px);
}

.toolbar-and-table-padding{
    padding: 12px;
    padding-bottom: 0;
    height: 100%;
}

/* input search trên MAIN */
.m-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-right: 12px;
}

/* input tìm kiếm */
.m-search input{
    padding-right: 36px;
    width: 260px;
}

/* icon tìm kiếm */
.m-icon-search{
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -88px -32px;
    right: 8px;
    position: absolute;
}

/* Icon refresh */
.m-icon-refresh{
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -1097px -87px;;
}



/* PHẦN BẢNG Ở TỆP table.css */ /* PHẦN BẢNG Ở TỆP table.css */ /* PHẦN BẢNG Ở TỆP table.css */ /* PHẦN BẢNG Ở TỆP table.css */



/* Phần chân trang */
.total-record-and-pagination{
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
.btn-page{
    padding: 10px 24px;
}

.total-record span{
    font-weight: 700;
}

.btn-prev, .btn-next{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
}

.page-number{
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.page-number:hover{
    border: 1px solid #BDBDBD;

}
.page-number:hover a{
    font-weight: 700;
}
.three-dots{
    margin: 0 12px;
}



